[submodule "lib/libnx"]
	path = lib/libnx
	url = https://github.com/switchbrew/libnx
[submodule "tools/switch-tools"]
	path = tools/switch-tools
	url = https://github.com/switchbrew/switch-tools.git
[submodule "lib/curl"]
	path = lib/curl
	url = https://github.com/curl/curl
[submodule "lib/json"]
	path = lib/json
	url = https://github.com/nlohmann/json
